@page
@model ShopiWebRazor_Temp.Pages.Categories.DeleteModel


<form method="post">]

    <input asp-for="category.Id" hidden />

    <div class="border p-3 mt-4 ">
        <div class="text-primary">
            Delete Category
        </div>
        <div asp-validation-summary="All">
        </div>
        <hr />
        <div class="mb-3 row">
            <label asp-for="category.Name"></label>
            <input asp-for="category.Name" class="form-control disabled" />
            <span asp-validation-for="category.Name" class="text-danger"></span>
        </div>

        <div class="mb-3 row">
            <label asp-for="category.DisplayOrder"></label>
            <input asp-for="category.DisplayOrder" class="form-control disabled" />
            <span asp-validation-for="category.DisplayOrder" class="text-danger"></span>
        </div>

        <div class="row">

            <div class="col-6">
                <button type="submit" asp-page="/categories/delete"  class="btn btn-primary form-control border"> Confirm Delete </button>
            </div>

            <div class="col-6">
                <a asp-page="/categories/Index"  class="btn btn-secondary form-control border"> Back To List</a>
            </div>
        </div>

    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
